@font-face {
    font-family: "Futura";
    src: url(../css/fonts/Futura-Bold.woff2);
}
@font-face {
    font-family: "Halvetica Now Text";
    src: url(../css/fonts/../fonts/HelveticaNowText-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: "abc";
    src: url(../css/fonts/abc-social-mono-regular-woff-2-a87e92.woff2);
}

:root {
    --background: #F7F7F7;
    --foreground: #000;
    --border: #000;
}

*::selection {
    background: var(--foreground);
    color: #fff;
}

/* main
   ========================================================================== */

.main {
    background: var(--background);
    color: var(--foreground);
    overflow: hidden;
}

/* title block
   ========================================================================== */

.title-course { 
    position: relative;
}

.title-container {
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    position: relative;   
    flex-direction: column;
}

.title-container h1 {
    font-family: Futura;
    font-size: 16.3vw;
    text-align: center;
    font-weight: 500;
    line-height: 13.6vw;
    margin-bottom: -0.7vw;
    letter-spacing: -0.8vw;
}

.title-container .the-course {
    display: flex;
    width: 96vw;
    margin-top: -10vw;
    margin-bottom: 2vw;
    justify-content: space-between;

}

.video-container {
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.video-container video {
    width: 96vw;
    height: 50vw;
    object-fit: cover;
    align-self: flex-start;
}

.video-container .play {
    width: 6vw;
    height: 6vw;
    letter-spacing: .1vw;
    border-radius: 100%;
    background: #000;
    font-family: Futura;
    font-size: 1.5vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 1;
    align-self: flex-start;
    opacity: 0;
    scale: 0;
}

.play-container button {
    font-size: 1.6vw;
}


.title-container .image-container {
    width: 100vw;
    height: 30vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width:100vw;
    height: 100%;
    position: relative;
    left: -2vw;
}

.title-course .svg-container {
    position: absolute;
    top: 53vw;
    left: 59vw;
}

.title-course .svg-container svg {
    width: 12vw;
    height: 12vw;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

}

.svg-container span {
    position: absolute;
    left: 4vw;
    top: 5vw;
    font-family: Futura;
    font-size: 2vw;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    .image-container img{
        height: 95vw;
        width: 178vw;
        margin-left: -39vw;
        margin-top: .5vw;
    }

    .title-course .svg-container {
        position: absolute;
        width: 20vw;
        height: 20vw;
        top: 56vw;
        left: 68vw;
    }

    .title-course .svg-container svg {
        width: 20vw;
        height: 20vw;
    }

    .svg-container span {
        font-size: 4vw;
        left: 6vw;
        top: 8vw;
    }
}

/* Buy Good - Do Good Block
   ========================================================================== */
   
.buy-good {
    width: 100vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3vw;
}

.do-good {
    width: 96vw;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}

.do-good p {
    font-size: 12px;
    font-family: "Halvetica Now Text";
    font-weight: 400;
}

/* Products Block
   ========================================================================== */
.two-good-products {
    width: 100vw;
    height: 50vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.products-container {
    display: flex;
    width: 96vw;
    height: 70vw;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.products-container .product {
    overflow: hidden;
    width: 31vw;
    height: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: relative;
}

.product img {
    width: 31vw;
    height: 50vw;
    object-fit: cover;
}

.shop-container {
    width: 230px;
    height: 50px;
    background: #E5F0D6;
    position: absolute;
    z-index: 1;
    border-radius: 23px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: .9em;
    font-size: 12px;
    font-family: "Halvetica Now Text";
    font-weight: bold;
}

.shop-container .dot {
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;
}

.shop-pill-title {
    font-weight: 300;
}

.shop-container svg {
    font-weight: bold;
}

.shop-container-hover {
    width: 293.6px;
    height: 50px;
    background: transparent;
    border-radius: 30px;
    position: absolute;
    z-index: 1;
}


.inner-shop {
    opacity: 1;
    width: 100%;
    height: 0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E5F0D6;
    transition: height 0.25s cubic-bezier(.22,.57,.12,.96);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.inner-shop .inner-left {
    width: 148px;
    height: 100%;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inner-shop img {
    margin-top: 20px;
    width: 120px;
    height: 0;
    transition: height 0.25s cubic-bezier(.22,.57,.12,.96);
}

.inner-shop p {
    font-family: "Halvetica Now Text";
    font-size: 0;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-top: -1px;
    text-align: center;
    transition: font-size 0.25s cubic-bezier(.22,.57,.12,.96);
}

.inner-shop .inner-right {
    width: 148px;
    height: 100%;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#product2 .shop-container {
    background: #F5DFCF;
}

#product2 .inner-shop {
    background: #F5DFCF;
}
#product3 .shop-container {
    background: #FFFFFF;
}

#product3 .inner-shop {
    background: #FFFFFF;
}

.shop-container-hover:hover .inner-shop{
    height: 200px;
}

.shop-container-hover:hover .inner-shop img {
    height: 112px;
}

#product1 .shop-container-hover:hover .inner-shop p {
    font-size: 12px;
    font-weight: 550;
}
.shop-container-hover:hover .inner-shop p {
    font-size: 14px;
}


@media screen and (max-width: 1024px) {
    .two-good-products {
        height: auto;
        margin-top: 20px;
    }

    .products-container{
        width: 96vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .products-container .product {
        width: 100%;
        margin:0 2px 10px;
        height: auto;
    }

    .product .bg-img {
        width: 100%;
        height: auto;
    }
}

/* Support Block
   ========================================================================== */

.support {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 96vw;
    height: 25vw;
    margin-left: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.support-heading {
    display: flex;
    align-items: flex-start;
    justify-self: self-start;
    width: 52vw;
}


.support-heading h2 {
    font-size: 3.6vw;
    font-family: Futura;
    text-transform: uppercase;
    line-height: 3.5vw;
}

.support-content {
    margin-top: 2vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.p-container {
    width: 24vw;
    margin-left: -1vw;
}

.support-content p {
    margin-bottom: 2.5vw;
    font-weight: 500;
    line-height: 1.5vw;
    font-size: 1.05vw; 
    font-family: "Halvetica Now Text";
}

.support-content a {
    margin-top: 1vw;
    font-size: .8vw;
    color: #000;
    font-family: abc;
    text-decoration: none;
    font-weight: 500;
}

.support-content .a-container {
    width: 7.1vw;
    margin-left: -1vw;
    height: 5vw;
}

.a-container:hover .f-span{
    animation-name: underline;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.a-container .f-span {
    display: inline-block;
    width: 6.9vw;
    height: .5px;
    background: #000;
    margin-bottom: 0.5vw;
    transition: animation 0.25s cubic-bezier(.22,.57,.12,.96);
}

@media screen and (max-width: 1024px) {
    .support {
        flex-direction: column;
        width: 96vw;
        height: auto ;
        align-items: center;
        justify-content: center;
    }
    .support-heading {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .support-heading h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .support-content {
        margin-top: -20px;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .p-container {
        width: 100%;
    }

    .p-container p {
        font-size: 16px;
        line-height: 20px;
    }
    .support-content .a-container {
        width: 105px;
        margin-top: 40px;
        display: flex;
        align-items: center;
    }

    .a-container a {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .a-container:hover .f-span{
        animation-name: underline;
        animation-duration: 1s;
        animation-timing-function: linear;
    }

    .a-container .f-span {
        width: 105px;
        transition: animation 0.25s cubic-bezier(.22,.57,.12,.96);
    }

}

@keyframes underline {
    0% {
        width: 0px;
        border-bottom: 0;
    }

    25% {
        width: 105px;
        height: 0px;
    }

    30% {
        width: 0;
        border-bottom: 0;
        height: 0;
        position: relative;
    }

    60% {
        width: 105px;
        height: .5px;
    }

    100% {
        width: 105px;
        height: .5px;
    }

}

/* All Products Block
   ========================================================================== */
.grid-2x3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    justify-items: center;
    align-items: center;
}

.g-products {
    width: 48vw;
    height: 48vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.g-products img {
    width: 45vw;
    height: 45vw;
}

.g-products p {
    font-family: "Halvetica Now Text";
    font-size: 1vw;
    opacity: 0.8;
}

.g-products p:last-of-type {
    font-size: .8vw;
    margin-top: -.5vw;
}

#g-products2 img {
    height: 41vw;
}

@media screen and (max-width: 426px) {
    .g-products p {
        font-size: 8px;
        opacity: 1;
        text-align: center;
    }

    .g-products p:last-of-type {
        font-size: 5px;
    }
}
@media screen and (min-width: 427px) and (max-width: 1024px) {
    .g-products p {
        font-size: 15px;
        opacity: 0.8;
        text-align: center;
    }

    .g-products p:last-of-type {
        font-size: 8px;
    }
}


