@font-face {
    font-family: "Futura";
    src: url(../css/fonts/Futura-Bold.woff2);
}
@font-face {
    font-family: "Halvetica Now Text";
    src: url(../css/fonts/../fonts/HelveticaNowText-Regular.woff2);
    font-weight: 400;
}
/* @font-face {
    font-family: "Halvetica Now Text";
    src: url(../css/fonts/../fonts/helvetica-now-text-regular-woff-2-4479bd.woff2);
} */

:root {
    --background: #F7F7F7;
    --foreground: #000;
    --border: #000;
}

*::selection {
    background: var(--foreground);
    color: #fff;
}

/* main
   ========================================================================== */

.main {
    background: var(--background);
    color: var(--foreground);
    overflow: hidden;
}

/* title block
   ========================================================================== */

.title-course { 
    position: relative;
}

.title-container {
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vw;
    position: relative;   
    flex-direction: column;
}

.title-container h1 {
    font-family: Futura;
    font-size: 16.3vw;
    text-align: center;
    font-weight: 500;
    line-height: 13.6vw;
    margin-bottom: -1vw;
    letter-spacing: -0.8vw;
}

.title-container .the-course {
    display: flex;
    width: 96vw;
    margin-top: -10vw;
    margin-bottom: 2vw;
    justify-content: space-between;

}

.video-container {
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.video-container video {
    width: 96vw;
    height: 50vw;
    object-fit: cover;
    border: 1px solid #000;
    align-self: flex-start;
}

.video-container .play {
    width: 6vw;
    height: 6vw;
    letter-spacing: .1vw;
    border-radius: 100%;
    background: #000;
    font-family: Futura;
    font-size: 1.5vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 1;
    align-self: flex-start;
    opacity: 0;
    scale: 0;
}

.play-container button {
    font-size: 1.6vw;
}


.title-container .image-container {
    width: 100vw;
    height: 30vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width:100vw;
    height: 100%;
    position: relative;
}

.title-course .svg-container {
    position: absolute;
    top: 93vw;
    left: 61vw;
}

.title-course .svg-container svg {
    width: 12vw;
    height: 12vw;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

}

.svg-container span {
    position: absolute;
    left: 4vw;
    top: 5vw;
    font-family: Futura;
    font-size: 2vw;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    .image-container img{
        height: 95vw;
        width: 178vw;
        margin-left: -39vw;
        margin-top: .5vw;
    }

    .title-course .svg-container {
        position: absolute;
        width: 20vw;
        height: 20vw;
        top: 96vw;
        left: 70vw;
    }

    .title-course .svg-container svg {
        width: 20vw;
        height: 20vw;
    }

    .svg-container span {
        font-size: 4vw;
        left: 6vw;
        top: 8vw;
    }
}

/* Buy Good - Do Good Block
   ========================================================================== */
   
.buy-good {
    width: 100vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3vw;
}

.do-good {
    width: 96vw;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}

.do-good p {
    font-size: 12px;
    font-family: "Halvetica Now Text";
    font-weight: 400;
}

/* Products Block
   ========================================================================== */

.two-good-products {
    width: 100vw;
    height: 50vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.products-container {
    display: flex;
    width: 96vw;
    height: 70vw;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.products-container .product {
    overflow: hidden;
    width: 31vw;
    height: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.product img {
    width: 31vw;
    height: 50vw;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .two-good-products {
        height: auto;
        margin-top: 20px;
    }

    .products-container{
        width: 96vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .products-container .product {
        width: 100%;
        margin-bottom: 10px;
        height: auto;
    }

    .product img {
        width: 100%;
        height: auto;
    }
}


