<div class="two-good-products">
    <div class="products-container">
        <div class="product" id="product1">
            <img src="images/meddina-chocolate.webp" alt="Image of good chocolate collection.">
        </div>
        <div class="product" id="product2">
            <img src="images/gifts-for-good.webp" alt="Image of a collection of gifts with full of chocolates and books.">
        </div>
        <div class="product" id="product3">
            <img src="images/bath.webp" alt="Image of a conditioner">
        </div>
    </div>
  </div>