<div class="product" id="product1">
    <div data-scroll data-scroll-speed="-2"class="shop-container">
      <div class="dot"></div>
      <div class="shop-pill-title">SHOP</div>
      <div>MESSINA</div>
      <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.237375 0.784804H1.61738L4.52138 3.5328L1.61738 6.2928H0.237375L3.14138 3.5328L0.237375 0.784804Z" fill="currentColor"></path></svg>
    </div>
    <div data-scroll data-scroll-speed="-2"class="shop-container-hover">
      <div class="inner-shop">
        <div class="inner-left">
          <img src="images/DexterKim.webp" alt="">
          <p>The Inside Scoop Good Feels Cracker Set</p>
        </div>
        <div class="inner-right">
          <img src="images/two-good-chocolate.webp" alt="">
          <p>Messina x Two Good to Miss Chococlate Brownie Bar</p>
        </div>
      </div>
    </div>
  <img class="bg-img" data-scroll data-scroll-speed="-1" src="images/meddina-chocolate.webp" alt="Image of good chocolate collection.">
</div>